$color_1: #000;
$color_2: #262b3e;
$color_3: #537dd6;

.data-about {
	margin: 0;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #d3dee7;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: $color_1;
	padding: 3px 0 4px;
	a {
		color: $color_3;
		text-decoration: none;
		transition: color .2s ease-in-out;
	}
}
.wrap-data {
	padding: 0 0 13px;
}
.ui-button-orange {
	display: inline;
	font-size: 13px;
	line-height: 20px;
	color: $color_2;
	padding: 5px 8px;
	border-radius: 4px;
	white-space: nowrap;
}